{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{template "title" .}} - Shrtnr</title>

        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="site-header">
            <div class="container">
                <h1 class="logo">Shrtnr</h1>
            </div>
        </header>

        <main class="container">
            {{template "main" .}}
        </main>

        <footer class="site-footer">
            <div class="container">
                <small>Simple URL shortener</small>
            </div>
        </footer>
    </body>
</html>
{{end}}
